.vscode
.DS_Store
*.out
*.o
*.a
webserv


**/UserInterfaceState.xcuserstate
*.xcuserstate
/server_xcode_project/server_xcode_project.xcodeproj/project.xcworkspace/xcuserdata/yuliia.xcuserdatad/UserInterfaceState.xcuserstate